footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #050505;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

footer .container .about p {
    max-width: 600px;
}

footer .container .sec h2 {
    position: relative;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .container .sec p {
    color: #ffffff;
}

footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #111;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

footer .container .sci li a i {
    color: #ffffff;
    font-size: 20px;
}

footer .container .quicklinks {
    position: relative;
}

footer .container .quicklinks ul li a {
    color: #ffffff;
    margin-bottom: 10px;
    display: inline-block;
}

footer .container .contact .info {
    position: relative;
}

footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contact .info li span {
    color: #ffffff;
    font-size: 20px;
}

footer .container .contact .info li a {
    color: #ffffff;
}

.copyright-text {
    width: 100%;
    background: #050505;
    padding: 20px 100px 30px;
    text-align: center;
    color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}