body {
    font-family: 'Quicksand', sans-serif;
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background-color);
}

.header .header-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-family: var(--title-font);
    color: #ffffff;
}

.header .header-container .menu {
    display: flex;

}

.header .header-container .menu li a {
    padding: 10px 35px;
    font-size: 16px;
    color: var(--header-color);
}

.header .header-container .menu li a:hover {
    color: var(--header-hover-color);
    border-radius: 15px;
}

.projects {
    min-height: 89vh;
    background: var(--background-color);
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.projects .content .title h1 {
    display: flex;
    justify-content: center;
    font-family: var(--title-font);
    font-size: 36px;
    margin: 50px 0 20px 0;
}

.projects .content .title p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    width: 1000px;
}

.projects .content .card {
    height: 415px;
    width: 900px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.projects .content .card .card-info {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 30px;
    font-family: var(--title-font);
}

.projects .content .card .card-info a h2 {
    border-left: 6px solid #0262b6;
    padding-left: 10px;

}

.projects .content .card .card-info h3 {
    border-left: 6px solid #0262b6;
    padding-left: 10px;
}

.projects .content .card p {
    padding: 40px;
    font-weight: 400;
}

.card .project-image-1 {
    background: url(../images/1338423.jpg) center center no-repeat;
}