body {
    font-family: 'Quicksand', sans-serif;
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background-color);
}

.header .header-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-family: var(--title-font);
    color: #ffffff;
}

.header .header-container .menu {
    display: flex;

}

.header .header-container .menu li a {
    padding: 10px 35px;
    font-size: 16px;
    color: var(--header-color);
}

.header .header-container .menu li a:hover {
    color: var(--header-hover-color);
    border-radius: 15px;
}


.about {
    min-height: 89vh;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.about .content .card {
    width: 295px;
    height: 440px;
    background: #f5f5f5;
    padding: 32px 24px;
    margin: 7px;
    transition: box-shadow .3s ease, transform .2s ease;
    border-radius: 20px;

}

.about .content .card:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.about .card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

.card:hover .card-info {
    transform: translateY(-5%);
}


.about .card .card-info h1 {
    font-family: var(--title-font);
}

/*Image*/
.about .card .card-info .card-avatar {
    background: url(../images/pfp2.jpg) center center no-repeat;
    background-size: cover;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin: 20px 15px 40px;
}

.about .card .card-info .card-avatar:hover {
    transform: scale(1.1);
}

/*Text*/
.about .card .card-info .card-title {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.about .card .card-info .card-subtitle {
    color: #859ba8;
    font-size: 13.5px;
    padding: 0 8px 0 8px;
}

.about .card .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
}

.card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
}

.about .card .card-social .card-social__item {
    list-style: none;
    display: grid;
    flex: 0;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 15px;
    font-size: 18px;
}

.about .card .card-social .card-social__item i {
    display: block;
    height: 18px;
    width: 18px;
    color: #5d6c74;
    cursor: pointer;
    transition: 0.3s ease;
}

.about .card .card-social .card-social__item i:hover {
    font-size: 20px;
    transform: scale(1.2);
    color: #073e81
}

.about .content.info-content {
    display: flex;
    flex-direction: column;
}

.about .content.info-content h1 {
    font-size: 35px;
    padding-bottom: 15px;
    color: var(--title-color);
}

.about .content.info-content p {
    font-size: 18px;
    color: #000000;
    line-height: 22px;
}

.about .content.info-content .card {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}