body {
    font-family: 'Quicksand', sans-serif;
    grid-template-areas: 'header header header'
        'hero hero hero';
}

.header {
    grid-area: header;
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background-color);


}

.header .header-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-family: var(--title-font);
    color: #ffffff;
}

.header .header-container .menu {
    display: flex;

}

.header .header-container .menu li a {
    padding: 10px 35px;
    font-size: 16px;
    color: var(--header-color);
}

.header .header-container .menu li a:hover {
    color: var(--header-hover-color);
    border-radius: 15px;
}


.hero {
    grid-area: hero;
    min-height: 89vh;
    background-color: #000000;
    background: url(../images/background-hero.jpg) center center no-repeat;
}

.hero .hero-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 86vh;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.hero .hero-info:hover {
    transform: translateY(-4%);
    opacity: 1;
}

.hero .hero-info .hero-title {
    padding: 30px;
    font-size: 40px;
    font-family: var(--title-font);
    color: #ffffff;
}

.hero .hero-info a {
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}

.hero .hero-info a:hover {
    background-color: var(--header-hover-color);
    border-radius: 20px;
    opacity: 1;
}