:root {
    /* * */
    --title-font: 'Poppins', sans-serif;
    --text-font: 'Quicksand', sans-serif;
    --max-width-size: 1920px;
    --title-color: #191522;
    --size: 150px;

    /* about */
    --background-color: #191522;

    /* header */
    --header-color: #ffffff;
    --header-background-color: rgb(0, 0, 0);
}